body{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#underline
{
  text-decoration-line: underline;
  padding-left:40px;
  color: rgb(34, 33, 34);
  
}



details
{
  padding-left:40px;
  color: rgb(34, 33, 34);
}
#about
{
  
  color: rgb(34, 33, 34);
}

h4
{
   margin-left:250px;
}

h5
{
  color:hotpink;
  text-align: center;
  margin-top: 100px;
}

#testAPI{
    
    color: rgb(39, 37, 37);
    margin-left:250px;
 }

#catsapi
{
  border:5px solid black;
  margin-left:40px;
  margin-right:40px;
  margin-bottom: 80px;

}

h3
{
  color:rgb(90, 14, 90);
  font-size: 50px;;
}

input{
  width:60%;
 }


 /* applying styles to a table */
 
table
{
  
  border-collapse:collapse;
  margin-left:120px;
  color: rgb(252, 164, 0);
  
}

 tr 
 {
    border: 1px solid rgb(60, 165, 165);
   
  } 

  td
  {
    padding: 30px;
  }



  /* applying styles to search input division */
#searchbar_icon
{
  display:flex;
  justify-content: center;
  margin-top: 10px;
}

#search_cat {
   
    background-position: 10px 10px;
    background-repeat: no-repeat;
    justify-self:start;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 5px solid rgba(236, 232, 232, 0.801);
    box-shadow: 5px 5px rgba(232, 230, 236, 0);
   
  }

  /* applying styles to Search Icon */
  ion-icon            
  {
    border:5px solid rgba(236, 232, 232, 0.801);
    padding: 12px;
    margin-left: 20px;  
  }


 /* applying styles to button */
 button
  {
    padding:10px;
    justify-self: flex-end;
    background-color: green;
    color:lavenderblush;
  }